<div class="row new-session">
  <div class="col-12">
    <%= image_tag('logo.png', class: 'img-fluid mb-4') %>

    <div class="text-center">
      <%= form_tag sessions_path, class: 'col-10 mt-4 offset-1' do %>
        <div class="form-group">
          <%= text_field_tag :email, nil, placeholder: 'E-mail', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Sign in', class: 'btn btn-secondary' %>
        </div>
      <% end %>
      <%= link_to 'Sign up', new_registration_path %>
    </div>
  </div>
</div>
