<div class="row">
  <div class="col-12">
    <%= image_tag('logo.png', class: 'img-fluid mt-5 mb-3') %>

    <div class="text-center">
      <%= form_tag sessions_path, class: 'col-10 mt-3 offset-1' do %>
        <div class="form-group">
          <%= text_field_tag :email, nil, placeholder: 'Email here', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= submit_tag 'Sign in', class: 'btn' %>
        </div>
      <% end %>
      <%= link_to 'Sign up', new_signup_path %>
    </div>
  </div>
</div>
