<%= image_tag('logo.png') %>
<h1>Regional Qualifiers</h1>

<%= form_tag sessions_path do %>
  <%= text_field_tag :email %><br>
  <%= submit_tag 'Sign in' %>
<% end %>

<%= link_to 'Sign up', new_signup_path %>
