<%= form_for @user, url: signups_path do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <%= f.submit 'Sign up' %>
<% end %>
<%= javascript_pack_tag 'hello_react' %>
<%= link_to "Back to sign in", root_path %>
