<div class="row">
  <div class="col-12">
    <%= image_tag('logo.png', class: 'img-fluid mt-5 mb-3') %>

    <div class="text-center">
      <%= form_for @user, url: signups_path, html: { class: 'col-10 offset-1 mt-3' } do |f| %>
        <div class="form-group">
          <%= f.text_field :name , placeholder: 'Name', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Sign up', class: 'btn' %>
        </div>
      <% end %>
      <%= link_to "Back to sign in", root_path %>
    </div>
  </div>
</div>
