<div class="row">
  <div class="col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to @round.tournament.name, @round.tournament %></li>
        <li class="breadcrumb-item active" aria-current="page">Round <%= @round.number %></li>
      </ol>
    </nav>
  </div>

  <div class="col-12">
    <h1>Round <%= @round.number %></h1>
  </div>

  <div class="col-12">
    <table class="table">
      <tbody>
        <% @round.matches.each do |match| %>
          <tr>
            <td class="text-center">
              <%= link_to match_path(match) do %>
                <%= image_tag(match.challenger.gravatar_url, class: 'rounded') %>
                <%= match.challenger.name %>
                vs.
                <%= match.challenged.name %>
                <%= image_tag(match.challenged.gravatar_url, class: 'rounded') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
