<!DOCTYPE html>
<html>
  <head>
    <title>Yu-Gi-Oh! - Regional Qualifiers 2018</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= 'middle-aligned-parent' if controller_name == 'registrations' || controller_name == 'sessions' %>">
    <% if current_user %>
      <%= render 'layouts/navigation' %>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <%= yield %>
        </div>
      </div>

      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %> fixed-bottom mb-0">
          <%= message %>
        </div>
      <% end %>
    </div>
  </body>
</html>
