<!DOCTYPE html>
<html>
  <head>
    <title>YuGiOhSwissTourney</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render 'layouts/navigation' %>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>

      <% flash.each do |key, message| %>
        <div class="alert alert-<%= key %> fixed-bottom mb-0">
          <%= message %>
        </div>
      <% end %>
    </div>
  </body>
</html>
